			<footer class="footer" style="background: linear-gradient(80deg, #29262690, #1e3262d0);">
				<div class="container-fluid">
					<nav class="pull-left">
						<ul class="nav">
							<li class="nav-item">
                                <a class="nav-link" 
                                   target="_blank" 
                                   href="https://africanguaranteefund.com/">
								   COPYRIGHT © 2012 - 2024 AFRICAN GUARANTEE FUND. All rights reserved.								</a>
							</li>
						</ul>
					</nav>	
				</div>
            </footer>
            