{% extends "layouts/base-fullscreen.html" %}

{% block title %} Change Password {% endblock %}

{% block content %}
<div id='stars3'></div>
<div id='stars'></div>

<div class="auth-wrapper">
    <div class="auth-content">
        <div class="auth-bg">
            <span class="r"></span>
            <span class="r s"></span>
            <span class="r s"></span>
            <span class="r"></span>
        </div>

        <div class="card pulse-border custom-rounded" style="background-color: #0c1f5e8f">
            <div class="card-body text-center">
                <h3 class="mb-4" style="color: rgb(255, 255, 255);">Change Password</h3>

                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}">{{ message }}</div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}

                <form method="post">
                    <div class="input-group mb-3 input-group-modern">
                        <input type="password" name="new_password" class="form-control" placeholder="New Password" required>
                    </div>

                    <div class="input-group mb-4 input-group-modern">
                        <input type="password" name="confirm_password" class="form-control" placeholder="Confirm Password" required>
                    </div>

                    <button class="overflow-hidden relative w-32 p-2 h-12 bg-dark-gradient text-white border-none rounded-md text-lg font-bold cursor-pointer relative z-10 group shadow-sm"
                            type="submit" style="background-color: rgba(2, 6, 24, 0.788);">
                        Change Password
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}